.header-img {
    width: 100%;
    height: auto;
}

.header-list {
    list-style-type: circle;
}

.header-main-text {
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    font-size: 2em;
    font-weight: 500;
    font-style: normal;
}

.header-main {
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    font-size: 4em;
    font-weight: 500;
    font-style: normal;
}

.header-list-item {
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
}

.header-main-text {
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
}

.header-main-text-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    background: #b8b7b6;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sm-hidden{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sm-hidden{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .show-md{
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}