*{
    box-sizing: border-box !important;
}

main .firstpage {
    background-color: white;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
    user-select: none;
    width: 100%;
}

.main-sec {
    word-wrap: break-word;
    font-weight: 700;
    font-size: 150px;
    letter-spacing: 0.25rem;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 100%;
    /*-webkit-text-fill-color: transparent;*/
    padding: 0.5rem 0;
}

.first-main-sec {
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

main .firstpagebutton {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

main .firstpagebutton a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    height: 50px, auto;
    width: 100px, auto;
    min-width: 200px;
    line-height: 50px;
    padding: 0px 25px;
    margin-right: 25px;
    color: white;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid black;
    transition-property: background-color, color;
    transition-duration: 0.2s, 0.2s;
}

main .firstpagebutton a:hover {
    color: rgb(7, 7, 7);
    background-color: rgb(247, 247, 247);

}

main .info {
    text-align: left;
    padding: 15px;
    color: #666;
    font-size: 1.25rem;
    line-height: 1.6em;
    letter-spacing: -.02em;
    font-weight: 400;
    max-width: 70%;
    margin: 20px auto;

}

/* hamburger menu */
:root {
    --height: 6px;
    --space: calc(var(--height) * 2.5);
    --color: rgb(7, 7, 7);
    --color2: white;
}

@media screen and (max-width:768px) {

    main .firstpage {
        line-height: 100.78px;
    }

    main .firstpagebutton {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .firstpagebutton a {
        width: 90%;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    main .info {
        max-width: 90%;
    }

    nav {
        justify-content: space-between;
    }
}

@media screen and (min-width:501px) {
 
    .main-sec {
        font-size: 4rem;
        font-weight: 800;
        margin: 1rem 3rem 0 3rem;
    }
}

@media screen and (max-width:500px) {
   
    .main-sec {
        font-size: 2rem !important;
        font-weight: 600;
        margin: 1rem 0;
    }
}