body {
  
  font-weight: normal;
  font-size: 1.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: Black;
  text-align: center;
}

.margin-left {
  margin-left: 1%;
}
.margin-bottom {
  margin-bottom: 1%;
}
.height {

  max-height: 35px;
  min-width: 30%;
  border-style: solid;
  font-size: 1.5rem;
  float: left;
}
label {
  float: left;
  text-align: left;
  display: block;
}





