body {
  font-family: "CeraPRO-Bold", sans-serif, arial;
  font-weight: normal;
  font-size: 1.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: Black;
  text-align: center;
}

.margin-left {
  margin-left: 1%;
}
.margin-bottom {
  margin-bottom: 1%;
}
.height {
  min-height : 20%;
  min-width: 30%;
  border-style: solid;
  border-width: 1%;
  margin-bottom: 2%;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  justify-content: center;
}

#emailFehlermeldung{
  display:none;
  color: red;
}

@media screen and (max-width: 1200px){
  .height {
    min-width: 45%;
  }

  .umbruch::before {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (max-width:900px)
{
 .umbruch::before{
   content: "\A";
   white-space: pre;
 }

 .height {
   min-width: 50%;
 }
}

@media screen and (max-width: 500px){
  .height {
    min-width: 95%;
  }
}
