.bg {
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 15646;
}
.container-xs {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #32c74f;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    text-shadow: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem 0;
}

.header {
    z-index: 1;
    background-color: #e2f6eb;
}


.mobile-nav {
    display: block;
    width: 100%;
    height: 100%;
}

.mobile-btn {
    display: block;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    font-size: 2rem;
    font-style: normal;
    padding: 0 1rem;
    color: #32c74f;
}

.show-xs {
    display: block;
}

.nav-btn {
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    font-size: 1.1rem;
    font-style: normal;
    padding: 0 0.25rem;
    color: #000;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.row {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.float-right {
    float: right !important;
    margin-left: auto;
    justify-self: end !important;
    justify-content: flex-end;
    text-align: right;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

/*
.shadow {
    -webkit-box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.2);
}
*/
.p-tb {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

.hide-xs {
    display: none;
}

.hide-xs {
    display: none;
}


.text-sec-main {
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    text-shadow: none;
    padding: 1rem;
    margin: 0.5rem 0;
}

.text-sec-secondary {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    text-shadow: none;
    padding: 1rem;
    margin: 0.5rem 0;
}

.parent {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.header-btn-sec {
    text-align: center;
}

.text-sec-btn {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    text-shadow: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1rem 5rem;
    border-radius: 1rem;
    margin: 0.5rem auto !important;
    background-color: #32c74f;
    color: aliceblue;
}

.section {
    background-color: #1b2033;
}

.main-text-section {
    width: 75%;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.main-text {
    padding: 0 1rem;
    font-style: normal;
    font-weight: 500;
}

.secondary-text {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
}

.main-text-section-btn {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    text-shadow: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin: 0.5rem auto !important;
    background-color: #32c74f;
    color: aliceblue;
}

.card-section {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.card-text-main {
    font-size: 2rem;
}

.footer {
    background-color: #2a2b30;
    color: #fff;
    margin: 2rem 0 0 0;
    padding: 1rem 0;
}

.footer-text {
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;

}

.overlay-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.301);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}


.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    width: 100%;
    background-color: #F1F6F4;

  }


@media (min-width: 576px) {
    .card-section {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .col-4-sm {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-8-sm {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

}

@media (min-width: 768px) {

    .show-md {
        display: block;
    }

    .hide-md {
        display: none;
    }

    .card-section {
        flex-direction: row;
    }

    .col-5-md {
        align-self: center;
        flex: 0 0 auto;
        width: 41.6666666667% !important;
    }

    .col-7-md {
        align-self: center;
        flex: 0 0 auto;
        width: 58.3333333333% !important;
    }

    .col-6-md {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-4-md {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .show-md {
        display: inline-block !important;
    }

    .col-9-md {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-3-md {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (min-width: 992px) {
    .header-btn-sec {
        margin: 0 1rem;
        text-align: left;
    }
    .cookie-consent-banner {
        border-radius: 3px;
        border-style: solid;
        border-width: 3px;
        border-color: #000;
        position: fixed;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;

        z-index: 2147483645;
        box-sizing: border-box;
        background-color: #F1F6F4;
      }

}

@media (min-width: 1200px) {}


  .cookie-consent-banner__inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 10px;
  }

  .cookie-consent-banner__copy {
    margin-bottom: 16px;
  }

  .cookie-consent-banner__actions {
      text-align: center;
  }

  .cookie-consent-banner__header {
    margin-bottom: 8px;

    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .cookie-consent-banner__description {
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }

  .cookie-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;

    border-radius: 2px;

    background-color: #2CE080;

    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .cookie-consent-banner__cta--secondary {
    padding: 9px 13px;

    border: 2px solid #3A4649;

    background-color: transparent;

    color: #2CE080;
  }

  .cookie-consent-banner__cta:hover {
    background-color: #20BA68;
  }

  .cookie-consent-banner__cta--secondary:hover {
    border-color: #838F93;

    background-color: transparent;

    color: #22C870;
  }

  .cookie-consent-banner__cta:last-child {
    margin-left: 16px;
  }
